body {
  background-image: url("../images/grocery-store.jpg");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 100% 100%;
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} 

caption {
  background-color: white;
}

table, th, td {
  background-color: white;
  border: solid;
  border-width: 1px;
  border-collapse: collapse;
  padding: 10px 20px;
}

.add-error-msg {
  margin-top: 3px;
  color: red;
  font-weight: bold;
}

.tableName {
  border-top: solid;
  border-left: solid;
  border-right: solid;
  border-width: 1px;
}

.number-of-items-input {
  width: 60px;
  margin-right: 5px;
}

.item-name-input {
  width: 180px;
}

.footer-btn {
  margin-right: 20px;
}

button {
  cursor: pointer;
}

.number-of-items {
  display: inline-block;
  margin-right: 10px;
}

.unit {
  display: inline-block;
}

.price-value {
  display: inline-block;
  margin-right: 10px;
}

.priceOpt-value {
  display: inline-block;
}